$main-color:#f5f4ee;
$item-bg-color:#eeede5;
$scroll-gray:#0000001a;
$font-size-s: 15px;
$font-size-M: 18px;
$font-size-L: 40px;

$breakpoint-mobile: 420px;
$breakpoint-tablet: 768px;
$breakpoint-laptopSmall: 990px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1920px;
