.company__section {
  padding: 70px calc(3.5vw + 5px);
  background-color: #1A1D29;
}

.company__container {
  margin-top: 70px;
}

.company__info {
  position: relative;
}

.info__wrap-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.info__wrap-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(26, 29, 41, 0) 0%, rgba(26, 29, 41, 0) 50%, rgba(26, 29, 41, 1) 75%, rgba(26, 29, 41, 1) 100%);
}

.info__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info__bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.company__bg-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: #ffffff5e; */
}


.info__wrap-logo {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: calc( 30vw - 7px);
  padding: 0 100px;
}

.info__logo {
  width: 100%;
  max-width: 500px;
}

.company__content {
  padding: 70px 0;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: min(2.5vw, 25px);
}

.content__item {
  overflow: hidden;
}

.item__img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.item__title {
  font-size: clamp(1.2rem, 1.2vw, 1.6rem);
  margin: 10px 0;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .company__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
