.detail__bg {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.detail__bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: radial-gradient(farthest-side at 65% 25%, transparent, #1A1D29);
  width: 100%;
  height: 100%;
}

.detail__wrap {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding: 70px calc(3.5vw + 5px);
}

.main__container {
  margin-top: 120px;
}

.main__title {
  font-size: clamp(2rem, 8vw, 8rem);
  color: #fff;
}

.main__content {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
  color: #fff;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: min(1vw, 10px);
}

.detail__tap {
  margin-top: 190px;
}

.tap__list {
  display: flex;
  gap: 6vw;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  align-items: center;
  justify-content: start;
  padding-bottom: 5px;
  border-bottom: 2px solid #F9F9F933;
}

.tap__list .list__item {
  color: #CACACA;
  letter-spacing: 2px;
  cursor: pointer;
}

.tap__list .list__item.on{
  color: #fff;
  position: relative;
}

.tap__list .list__item.on::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
}

.tap__contents {
  margin-top: 60px;
}

.tap__content-collection, .tap__content-similar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: min(2.5vw, 25px);
}

.movie__wrap {
  display: grid;
}

.poster__wrap {
  width: 100%;
  box-sizing: border-box;
  border: 3px solid rgba(249, 249, 249, 0);
  border-radius: 10px;
  transition: all 0.6s;
  cursor: pointer;
  overflow: hidden;
}

.noPoster__wrap {
  aspect-ratio: 1/0.6;
  background-color: #000;
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.6s;
  cursor: pointer;
}

.poster__wrap:hover {
  transform: scale(1.05);
  border-color: rgba(249, 249, 249, 0.8);
}

.poster__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.title__wrap {
  width: 100%;
  overflow: hidden;
  margin-top: 8px;
}

.movie__title {
  font-size: clamp(1.2rem, 1.2vw, 1.6rem);
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.info__container {
  display: flex;
  align-items: top;
  gap: 50px;
}

.info__left,
.info__right {
  flex: 1;
}

.info__title {
  font-size: clamp(2rem, 8vw, 4rem);
}

.info__description {
  font-size: clamp(1.2em, 1.8vw, 1.6rem);
  margin-top: 20px;
  line-height: 1.5;
  word-break: keep-all;
}

.info__right {
  display: flex;
  gap: 20px;
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

.info__content,
.info__credits {
  flex: 1;
}

.info__content p:not(:first-child),
.info__credits p:not(:first-child) {
  margin-top: 20px;
}

.info__content span,
.info__credits span {
  display: block;
}

.no__program {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no__program p {
  font-size: clamp(1.2rem, 1.2vw, 1.6rem);
}

@media screen and (max-width: 768px) {
  .tap__content-collection, .tap__content-similar {
    grid-template-columns: repeat(2, 1fr);
  }

  .info__container {
    flex-direction: column;
  }
}
