a.row {
  margin: min(5vw,80px) 0;
}

.slider__title {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider:hover .arrow__wrap {
  visibility: visible;
}

.arrow__wrap {
  background-clip: content-box;
  cursor: pointer;
  width: 80px;
  height: calc(100% - 40px);
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.arrow__wrap:hover {
  background: rgba(20, 20, 20, 0.5);
}

.slider__arrow-left {
  top: 20px;
  left: 0;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0 20px 20px;
  gap: min(2.5vw, 25px);
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.movie__wrap {
  display: grid;
}

.poster__wrap {
  aspect-ratio: 1 / 0.57;
  width: min(40vw,350px);
  box-sizing: border-box;
  border: 3px solid rgba(249, 249, 249, 0);
  border-radius: 10px;
  transition: all 0.6s;
  cursor: pointer;
  overflow: hidden;
}

.poster__wrap:hover{
  transform: scale(1.05);
  border-color: rgba(249, 249, 249, 0.8);
}

.poster__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}

.title__wrap {
  width: 100%;
  overflow: hidden;
  margin-top: 8px;
}

.movie__title{
  font-size: clamp(1.2rem, 1.2vw, 1.6rem);
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slider__arrow-right {
  top: 20px;
  right: 0;
}

.arrow {
  padding: 15px;
  transition: all 0.4s ease-in-out;
}

.arrow:hover {
  transform: scale(1.5);
}


.fd{
  margin-bottom: 12px;
  display: block;
  width: 100%;
  font-weight: bold;
  background-color: #0063e5;
}