.product{
  position: relative;
}

.topMenu{
  width: 100%;
  margin-bottom: 10px;
  padding: 190px 20px 0 20px;
  box-sizing: border-box;
}

.menu-1{
  position: relative;
}

.menu-1 h2{
  text-align: center;
  font-size: var(--font-size-L);
  font-weight: normal;
  position: relative;
}

.menu-1 h2::after{
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../assets/svg/arrow-right_b.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(10px,-50%) rotate(90deg);
}

.menu-1__filterButton{
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  opacity: 1;
  transition: all .4s;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

