.product{
  position: relative;
}

.topMenu{
  width: 100%;
  margin-bottom: 10px;
  padding: 190px 20px 0 20px;
  box-sizing: border-box;
}

.menu-1{
  position: relative;
}

.menu-1 h2{
  text-align: center;
  font-size: var(--font-size-L);
  font-weight: normal;
  position: relative;
  cursor: pointer;
}

.menu-1 h2::after{
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../assets/svg/arrow-right_b.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translate(10px,-50%) rotate(90deg);
  transition: all 0.2s;
}

.menu-1 h2.active::after{
  transform: translate(10px,-50%) rotate(-90deg);
}

.menu-1__tapMenu{
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 250px;
  min-width: 200px;
  background-color: var(--white);
  box-shadow: 0 2px 13px rgb(164 167 172 / 20%);
  box-sizing: border-box;
  transition: all 0.4s;
  z-index: 999;
  overflow: hidden;
  height: 0;
  padding: 0px 20px;
}

.menu-1__tapMenu.active{
  height: auto;
}

.menu-1__tapMenu .tapMenuList{
  width: 100%;
  font-size: var(--font-size-XS);
  text-align: center;
}

.menu-1__tapMenu .tapMenuList:first-child{
  margin-top: 20px;
}

.menu-1__tapMenu .tapMenuList:last-child{
  margin-bottom: 20px;
}

.menu-1__tapMenu .tapMenuList a{
  display: block;
  padding: 5px 0;
}

.menu-1__filterButton{
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  opacity: 1;
  transition: all .4s;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

