.button{
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 998;
}

.button-list .list-item{
  width: 150px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  background-color: var(--white);
}

.button-list .list-item:nth-child(2){
  background-color: var(--black);
}

.button-list .list-item:not(:last-child){
  margin-bottom: 20px;
}

.button-list .list-item a{
  font-size: var(--font-size-S);
  display: block;
  padding: 20px 0 20px 20px;
  width: 100%;
  height: 100%;
}

.no-buy-window{
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  }

.button-list .list-item:nth-child(2) a{
  color: var(--white);
}

.buy-window{
  height: 100vh;
  width: 400px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--white);
  z-index: 999;
  box-shadow: -1px 0px  5px rgba(0, 0, 0, 0.5);
  padding: 50px;
  box-sizing: border-box;
  right: -400px;
  transition: all 0.4s;
}

.buy-window.active{
  right: 0;
}

.buy-window-inner{
  width: 100%;
  height: 100%;
  position: relative;
}

.buy-window__item h2{
  font-size: var(--font-size-S);
  padding: 20px;
  text-align: center;
}

.buy-window__item p{
  font-size: var(--font-size-XS);
  text-align: center;
}

.buy-window__input{
  margin: 50px 0;
  width: 100%;
  height: 50px;
}

.input-select{
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--graya);
  background-color: var(--grayf5);
  text-align-last: left;
  padding-left: 20px;
  font-size: var(--font-size-S);
}

.input-select::after{
  content: '▾';
  position: absolute;
  height: 50px;
  text-align: center;
  line-height: 50px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: var(--font-size-XS);
  color: var(--graya);
}

.buy-window__input ol{
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.buy-window.active .buy-window__input ol{
  height: auto;
}

.buy-window__input li{
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-size: var(--font-size-S);
  background-color: #fff;
}

.buy-window__input li:hover{
  background-color: var(--graya);
  color: var(--white);
}

.buy-window__naverPay{
  width: 100%;
  height: 53px;
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  display: flex;
  box-sizing: border-box;
  padding: 5px;
}

.naverPay-title{
  width: 80px;
  margin-right: 10px;
  background-image:url(../assets/images/itemContent/naver-pay.png);
  background-repeat: no-repeat;
  background-size: 170px;
  background-position: 0 -2%;
}

.naverPay-button{
  width: calc(100% - 80px);
  background-color: #00de5a;
  background-image:url(../assets/images/itemContent/naver-pay-2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 75px;
  cursor: pointer;
}

.buy-window__naverPay span{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.buy-button{
  position: absolute;
  bottom: 0;
}

.buy-button{
  width: 100%;
}

.buy-button__buy{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.buy-button__cart{
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border: 1px solid black;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
}

/* section 1 */
.section-1{
  padding-top: 200px;
}

.item-name h1{
  font-size: var(--font-size-XS);
  font-weight: normal;
  text-align: center;
}

.item-name h2{
  font-size: var(--font-size-Title);
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin-top: 10px;
}

.item-name img{
  width: 100%;
  max-width: 600px;
  text-align: center;
  display: block;
  margin: 10px auto 0;
}

.item-intro{
  margin-top: 50px;
}

.item-intro__text .title{
  text-align: center;
  font-size: var(--font-size-S);
  line-height: 1.5;
}

.item-intro__text .text-text{
  text-align: center;
  font-size: var(--font-size-S);
  margin: 20px 0;
}

.item-intro__text .text-tag{
  text-align: center;
  font-size: var(--font-size-S);
}

/* section2 */
.section-2{
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.vegan,
.clinical,
.derma,
.clean{
  width: 100%;
  height: 100vh;
  position: relative;
}

.vegan{
  background-image: url(../assets/images/itemContent/vegan.jpg);
  color: var(--white);
  text-align: center;
}

.clinical{
  background-image: url(../assets/images/itemContent/clinical.jpg);
  color: var(--white);
  text-align: center;
}

.derma{
  background-image: url(../assets/images/itemContent/derma.jpg);
  color: var(--white);
  text-align: center;
}

.clean{
  background-image: url(../assets/images/itemContent/clean.jpg);
  color: var(--white);
  text-align: center;
}

.vegan-wrap,
.clinical-wrap,
.derma-wrap,
.clean-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.vegan-sub,
.clinical-sub,
.derma-sub,
.clean-sub{
  font-size: var(--font-size-S);
}

.vegan-title,
.clinical-title,
.derma-title,
.clean-title{
  margin: 20px 0;
  font-size: var(--font-size-Content);
  font-weight: normal;
}

.vegan-text,
.clinical-text,
.derma-text,
.clean-text{
  font-size: var(--font-size-S);
  line-height: 1.8;
}

/* section3 */
.section-3{
  width: 100%;
  margin: 100px 0 200px 0;
}

.section-3-wrap{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.section-3 img{
  width: 100%;
  height: auto;
}

.section-3 h3{
  text-align: center;
  font-size: var(--font-size-Title);
  font-weight: normal;
  margin-top: 200px;
}

.section-3 p{
  text-align: center;
  margin-top: 50px;
  font-size: var(--font-size-S);
  line-height: 1.8;
}