html::-webkit-scrollbar,
body::-webkit-scrollbar{
  display: none;
}

body{
  -webkit-font-smoothing: antialiased
}

.inner{
  position: relative;
  padding: 0 15%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.title{
  font-size: var(--font-size-Title);
  font-weight: normal;
  color: var(--white);
}

.subTitle{
  color:var(--main);
  font-size: var(--font-size-XS);
}

.caption span{
  color: var(--white);
  font-size: var(--font-size-XS);
  display: block;
  margin-top: 20px;
  line-height: 1.5;
  position: relative;
  opacity: 0.7;
  padding-left: 10px;
}

.caption span::before{
  content: "·";
  position: absolute;
  left: 0px;
  top: 0px;
}

.caption span:not(span:first-child){
  margin-top: 10px;
}

.mainColor{
  color:var(--main);
}

.section{
  color: var(--white);
}

#section-1{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/story-whiteTruffle-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-1-content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-1-center p{
  margin-top: 20px;
  font-size: var(--font-size-L);
}

#section-2{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/story-whiteTruffle-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2-content{
  width: 100%;
  height: 100%;
}

.section-2-center{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 2%;
}

.section-2-center .subTitle{
  font-size: var(--font-size-S);
}

.section-2-center h3{
  font-size: var(--font-size-Content);
  font-weight: normal;
  margin-top: 20px;
}

#section-3{
  width: 100%;
  height: 100vh;
  background-color: rgb(22, 35, 29);
}

.section-3-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 2%;
}

.section-3-left{
  flex-shrink: 0;
}

.section-3-left p{
  font-size: var(--font-size-S);
  line-height: 1.6;
}

.section-3-right img{
  width: 100%;
}

#section-4{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/story-whiteTruffle-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-4-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 2%;
}

.section-4-left{
  flex-shrink: 0;
}

.section-4-left p{
  font-size: var(--font-size-M);
  line-height: 1.6;
  margin-top: 20px;
}

.section-4-right{
  flex-shrink: 0;
}

.section-4-right p{
  font-size: var(--font-size-S);
  line-height: 1.6;
}

.section-4-right p:not(p:first-child){
  margin-top: 20px;
}

#section-5{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/story-whiteTruffle-5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-5-content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.section-5-center p{
  font-size: var(--font-size-S);
  line-height: 1.6;
  margin-top: 20px;
}

#section-6{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/story-whiteTruffle-6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section-7{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/story-whiteTruffle-7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section-8{
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/story-whiteTruffle-8.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:1100px){
  .section-2-center h3{
    font-size: var(--font-size-XL);
  }

  .section-4-right p{
    font-size: var(--font-size-XS);
  }
}
@media screen and (max-width:900px){}